container_commands:
  01_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "dnswebsite.settings"
    PYTHONPATH: "/opt/python/current/app/dnswebsite:$PYTHONPATH"
    ALLOWED_HOSTS: ".elasticbeanstalk.com"
  aws:elasticbeanstalk:container:python:
    WSGIPath: dnswebsite/wsgi.py
